@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

@tailwind utilities;

@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 97%;
    --foreground: 222.2 84% 4.9%;
    --primary: 207, 65%, 35%;
    --secondary: 210, 40%, 96.1%;
    --muted: 210, 40%, 96.1%;
    --destructive: 0, 84.2%, 60.2%;
    --border: 214.3, 31.8%, 91.4%;
    --radius: 0.5rem;
  }

  @theme {
    --color-custom-blue-100: #0587ff;
    --color-custom-blue-500: #0056a6;
    --color-custom-gray-50: #f4f4f4;
    --color-custom-gray-100: #f8f8f8;
    --color-custom-gray-200: #dbdbdb;
    --color-custom-gray-250: #c4c4c4;
    --color-custom-gray-270: #bfbfbf;
    --color-custom-gray-300: #989898;
    --color-custom-gray-900: #262626;
    --color-custom-gray-950: #24292e;
    --color-custom-red-400: #fd8c73;
    --font-roboto: "Roboto", sans-serif;
  }

  .dark {
    --background: 222.2, 84%, 4.9%;
    --foreground: 210, 40%, 98%;
  }

  .scrollable-content {
    overflow-y: hidden;
    scrollbar-gutter: stable;
    transition: overflow-y 0.3s ease;
  }

  .scrollable-content:hover,
  .scrollable-content:focus-within {
    overflow-y: auto;
  }

  ::-webkit-scrollbar {
    width: 5px;
    transition: opacity 0.3s ease;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--gray-300);
    border-radius: 5px;
    transition: background 0.3s ease;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--gray-200);
  }
}
